.card-header{
    text-align: center;
}

.carousel-inner{
    padding-right:0%;
    padding-left:0%;
}

.carousel-caption{
    text-align: left;
}


.carousel-item img{ 
    object-fit: cover;
    height: 600px;
}


.section-carousel{
    margin-top: -100px;
}
