a.sign-in:link, a.sign-in:visited{
    background-color: #464343;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.sign-in:hover, a.sign-in:active {
    background-color: rgb(83, 11, 11);
  }